<!-- Add you custom twig html here -->
<div class="container col-md-12">
{% for item in content %}
  <div class="row">
    <div  class="border">
        <div class="col-md-8">
            <h4>{{item['title']}}</h4> 
            <p><span class="text-primary font-weight-bold">@ {{item['company']}}</span> | <span>{{item['location']}}</span></p> 
            <p>Published {{item['created_at']}}</p>
            <p>
                <a data-toggle="collapse" href="#collapseExample-{{item['id']}}" role="button" aria-expanded="false" aria-controls="collapseExample-{{item['id']}}">
                    More info >
                </a>
                <div class="collapse" id="collapseExample-{{item['id']}}">
                    <div class="card card-body">
                        {{item['description']|raw}}
                    </div>
                </div
            </p>
        </div>
        <div class="col-md-4"><button type="button" class="btn btn-success">{{item['type']}}</button></div>
    </div>
  </div>
  {% endfor%}
</div>